
#main{
    margin-top: 0px;
}

#instructions{
    text-align: center;
    margin: auto;
}

.container {
    color: white;
    font-size: 16pt;
    padding: 0px;
}
#questions {
    background-color: #060CE9;
    margin-bottom: 9px;
}
.col-md-2 {
    border: 1px solid black;
    height: 80px;
    text-align: center;
    padding-top: 23px;
    font-size: 14pt;
    
}
#dollars{
    color:yellow;
    font-weight: bold;
    background-color: #060CE9;
    font-size: 24pt;
}
body{
    background-color: black;
}
#score{
    height:160px;
    margin-top: 10px;
    background-color: #060CE9;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    border: 1px white solid;
}
.card-header{
    background-color: black;
    border: 3px solid silver;
    text-align: right;
    color: #FEE29F;
    font-size: 25px;
}
#scoreBot{
    margin-top:10px;
    margin-left: 50px;
    height:160px;
    font-family: 'Roboto Mono', monospace;
}
#botBody1, #botBody2, #contName {
    background-color: #060CE9;
    text-align: center;
    font-family: 'Gochi Hand', cursive;
    font-size: 34px;
    overflow: auto;
    
}
#mula{
    float: left;
}
#questionBoard{
    position: fixed;
    top: 120px;
    left: 86px;
    height:400px;
    width:1141px;
    background-color: #060CE9;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:white;
    border: 1px solid black;
    text-shadow: 2px 2px 2px black;
    text-transform: uppercase;
    text-align: center;
    padding: 86px;
    font-size: 30px;
    margin: 0 auto;
    z-index: 2;
    display: none;
}

#answerBoard{
    height:365px;
    width:520px;
    background-color: #060CE9;
    margin: 0 0 10px 190px;
    text-align: center;
    padding-top: 125px;
}
#finalJeopardy{
    height:365px;
    width:720px;
    background-color: #060CE9;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 2px 2px 2px black;
    text-align: center;
    padding-top: 5px;

}
#title {
 margin-top:-25px;
 margin-bottom: -25px;
}
#dynamic{
    text-align: center;
    background-color: #060CE9;
    font-family: 'Times New Roman', Times, serif;
}
#firstScreen{
    border: 2px yellow solid;
    background-color: #060CE9;
    margin-top: auto;
}
#nameBox {
    align: center;
    margin: auto;
}